
header {
  text-align: center;
  padding: 10px;
  font-size:26px;
  font-weight:bold;
  background-color: aliceblue;
}
body
{
  margin: 0px;
}

#dataSubmissionDiv{
  margin-top:20px;
  display: flex;
  justify-content: center;
}

label {
  margin-right: 10px;
}

button{
  margin-left:10px;
}

input[type="date"],
select {
  margin-right: 10px;
}

#dataGraph {
  margin-top: 20px;
}

#turbidityLineChartDiv {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#map
{
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  height: 100dvi;
  width: 100%;
}
#turbidityLineChartSvg {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  height: 50%;
  width: 50%;

}

#lateralAdd
{
  background-color: aquamarine;
  width: 300px;
  height: 50px;
  text-align:right;
  padding-top: 20px;
  padding-left: 20px;
  margin-left: -50px;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
#lateralAdd:hover
{
  transition-duration: 150ms;
  transition-timing-function: ease-out;
  margin-left: 20px;
}

#turbidimeterForm
{
  float: right;
  background-color: aliceblue;
  position: fixed;
  top: 100px;
  left: 10vh;
}