
header {
  text-align: center;
  padding: 10px;
  font-size:26px;
  font-weight:bold;
  background-color: aliceblue;
}
body
{
  margin: 0px;
  background-color: aliceblue;
}

#dataSubmissionDiv{
  margin-top:20px;
  display: flex;
  justify-content: center;
}

label {
  margin-right: 10px;
}

button{
  margin-left:10px;
}

input[type="date"],
select {
  margin-right: 10px;
}

h2,h3
{
  margin-left: 10px;
}

hr
{
  
}

#dataGraph {
  margin-top: 20px;
}

#turbidityLineChartDiv {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#map
{
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  height: 100dvi;
  width: 100%;
}
#turbidityLineChartSvg {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  height: 50%;
  width: 50%;

}

.lateral
{
  width: 300px;
  height: 50px;
  margin-left: -250px;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  border: 3px solid;
  border-radius: 5px;
  padding: 12px;
  margin-top: 10px;
  position: fixed;
  top: 150px;
  
}

#lateralAdd:hover,#lateralRm:hover,#lateralMd:hover
{
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  margin-left: 20px;
}

#lateralAdd
{
  border-color: rgb(8, 149, 149);
  background-color: rgb(77, 201, 201);
  
}
#lateralRm
{
  top: 330px;
  border-color: rgb(8, 149, 88);
  background-color: rgb(77, 201, 110);
}
#lateralMd
{
  top: 240px;
  border-color: rgb(8, 97, 149);
  background-color: rgb(77, 141, 201);
}

.formT
{
  float: right;
  background-color: aliceblue;
  position: fixed;
  top: 100px;
  left: 200vh;
  border: 3px solid;
  border-radius: 20px;
  padding: 10px;
}
#addDiv
{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  top: 350px;
  border-color: rgb(8, 149, 149);
  background-color: rgb(77, 201, 201);
}

#mdDiv
{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  top: 650px;
  border-color: rgb(8, 97, 149);
  background-color: rgb(77, 141, 201);
}
#rmDiv
{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  top: 150px;
  border-color: rgb(8, 149, 88);
  background-color: rgb(77, 201, 110);
}
.formT>input
{
  margin: 10px;
  width: 70px;
  height: 15px;
}

.exit
{
  float: right;
  
}
img
{
  height: 50px;
  width: 50px;
  float: right;
}

#notifImg
{
  height: 40px;
  width: 40px;
}
#notificheDiv
{
  margin-top: 20;
  margin-right: 20px;
  float: left;
}
#allNotifiche
{
  border: 1px solid rgb(117, 153, 54);
  border-radius: 10px;
  background-color: yellowgreen;
  max-width: 300px;
  max-height: 500px;
  position: fixed;
  left: 150px;
  opacity: 0;  
  overflow: scroll;
}
